.h5pxapikatchu-options {
  table-layout: fixed;
}

.h5pxapikatchu-options .first-column {
  padding: 0.5em 0.5em 0.5em 0;
  width: 1em;
}

.h5pxapikatchu-options thead {
}

.h5pxapikatchu-options td {
  padding: 0.5em 0.5em;
}

.h5pxapikatchu-options th {
  padding: 0.5em 0.5em;
}
