#h5pxapikatchu-data-table_wrapper .btn {
  border-radius: .25rem;
  font-size: inherit;
  margin-right: .5rem;
  margin-top: 1em;
}

#h5pxapikatchu-data-table_wrapper .dt-button-collection.dropdown-menu {
  font-size: inherit;
  padding: .2rem;
}

#h5pxapikatchu-data-table_wrapper .dt-button-collection.dropdown-menu .dt-button-collection-title {
  display: none;
}

#h5pxapikatchu-data-table_wrapper .dt-button-collection.dropdown-menu .dropdown-item {
  padding: .25rem .75rem;
}

#h5pxapikatchu-data-table_wrapper .h5pxapikatchu-cts-table {
  cellspacing: 0;
}

#h5pxapikatchu-data-table_wrapper .h5pxapikatchu-cts-table,
#h5pxapikatchu-data-table_wrapper .h5pxapikatchu-colvis-table,
#h5pxapikatchu-data-table_wrapper .h5pxapikatchu-data-table {
  cellspacing: 0;
}

#h5pxapikatchu-data-table_wrapper tfoot select {
  width: 100%;
}

#h5pxapikatchu-data-table {
  /* Forced to use !important by Datatables */
  margin-top: unset !important;
}

#h5pxapikatchu-data-table tr {
  height: 3em;
}
#h5pxapikatchu-data-table thead .sorting:before,
#h5pxapikatchu-data-table thead .sorting:after,
#h5pxapikatchu-data-table thead .sorting_asc:before,
#h5pxapikatchu-data-table thead .sorting_asc:after,
#h5pxapikatchu-data-table thead .sorting_desc:before,
#h5pxapikatchu-data-table thead .sorting_desc:after,
#h5pxapikatchu-data-table thead .sorting_asc_disabled:before,
#h5pxapikatchu-data-table thead .sorting_asc_disabled:after,
#h5pxapikatchu-data-table thead .sorting_desc_disabled:before,
#h5pxapikatchu-data-table thead .sorting_desc_disabled:after {
  bottom: unset;
  top: 0.9em;
}

.h5pxapikatchu-data-table-top-bar {
  display: flex;
  justify-content: left;
  margin-top: 1em;
}

#h5pxapikatchu-data-table_length {
  flex-grow: 1;
  margin-right: 1em;
  margin-top: 1px;
  text-align: left;
}

#h5pxapikatchu-data-table_length select {
  font-size: unset;
  width: 5em;
}

.h5pxapikatchu-data-table-bottom-bar {
  display: flex;
  justify-content: left;
  margin-top: 0.5em;
}

#h5pxapikatchu-data-table_info {
  flex-grow: 1;
  margin-right: 1em;
  text-align: left;
}
